<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="api_username" value="user-name" />
    <add key="api_password" value="password" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="OrangeLeapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                   receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                   bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                   useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="Transport">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm="">
                    <extendedProtectionPolicy policyEnforcement="Never" />
                  </transport>
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
            </basicHttpBinding>
          <customBinding>
            <binding name="OrangeLeapCustomBindingConfig">
              <security includeTimestamp="false"
                        authenticationMode="UserNameOverTransport"
                        defaultAlgorithmSuite="Basic256"
                        requireDerivedKeys="true"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
              </security>
              <textMessageEncoding messageVersion="Soap11"></textMessageEncoding>
              <httpsTransport maxReceivedMessageSize="2000000000" />
            </binding>
          </customBinding>
        </bindings>
        <client>
            <endpoint address="https://go.orangeleap.com/sandbox/services3.1/"
                binding="customBinding" bindingConfiguration="OrangeLeapCustomBindingConfig"
          contract="OLODWebService.OrangeLeap" name="OrangeLeapPort" />
        </client>
    </system.serviceModel>
</configuration>